<!----------------------------------FEATURED PRODUCTS----------------------------------->

  <!--shop-->
  <section class="shop container">
    <h2 class="section-title">PRODUCTOS PARA TU HOGAR</h2>
    <!--Content-->
    <div class="shop-content">
        <!--box 1-->
        <div class="product-box">
            <img src="../../assets/img/almohadilla.png" class="product-img" alt="" routerLink="../house-one">
            <h2 class="product-title">ALMOHADILLA EXPRESS</h2>
            <div class="product-table">
                <span class="price">$109.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-one"></i>
            </div>
        </div>
         <!--box 2-->
         <div class="product-box">
            <img src="../../assets/img/cactus.png" class="product-img" alt="">
            <h2 class="product-title">CACTUS BAILARIN</h2>
            <div class="product-table">
                <span class="price">$99.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-two"></i>
            </div>
        </div>
         <!--box 3-->
         <div class="product-box">
            <img src="../../assets/img/CUCHILLO2.png" class="product-img" alt="">
            <h2 class="product-title">CUCHILLO ERGONÓMICO</h2>
            <div class="product-table">
                <span class="price">$49.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-three"></i>
            </div>
        </div>
         <!--box 4-->
         <div class="product-box">
            <img src="../../assets/img/set-cocina.png" class="product-img" alt="">
            <h2 class="product-title">BOLSAS PARA ALIMENTOS</h2>
            <div class="product-table">
                <span class="price">$59.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-four"></i>
            </div>
        </div>
         <!--box 5-->
         <div class="product-box">
            <img src="../../assets/img/cojin-caliente-house.png" class="product-img" alt="">
            <h2 class="product-title">COJIN ALMOHADA</h2>
            <div class="product-table">
                <span class="price">$89.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-five"></i>
            </div>
        </div>
         <!--box 6-->
         <div class="product-box">
            <img src="../../assets/img/aro-luz-home.png" class="product-img" alt="">
            <h2 class="product-title">ARO DE LUZ SELFIE</h2>
            <div class="product-table">
                <span class="price">$60.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-six"></i>
            </div>
        </div>
         <!--box 7-->
         <div class="product-box">
            <img src="../../assets/img/expendedor.png" class="product-img" alt="">
            <h2 class="product-title">EXPENDEDOR DE AGUA</h2>
            <div class="product-table">
                <span class="price">$49.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-seven"></i>
            </div>
        </div>
         <!--box 8-->
         <div class="product-box">
            <img src="../../assets/img/protector-sofa.png" class="product-img" alt="">
            <h2 class="product-title">PROTECTOR SOFA</h2>
            <div class="product-table">
                <span class="price">$69.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-house-eich"></i>
            </div>
        </div>
    </div>
</section>