<!----------------------------------FEATURED PRODUCTS----------------------------------->

  <!--shop-->
  <section class="shop container">
    <h2 class="section-title">PRODUCTOS PARA TU HOGAR</h2>
    <!--Content-->
    <div class="shop-content">
        <!--box 1-->
        <div class="product-box">
            <img src="../../assets/img/tech-product-one.png" class="product-img" alt="" routerlink="../tech-one">
            <h2 class="product-title">AFEITADORA PERFILADORA</h2>
            <div class="product-table">
                <span class="price">$79.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-one"></i>
            </div>
        </div>
         <!--box 2-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-two.png" class="product-img" alt="" routerlink="../tech-two">
            <h2 class="product-title">AUDIFONOS LANGSDOM</h2>
            <div class="product-table">
                <span class="price">$89.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-two"></i>
            </div>
        </div>
         <!--box 3-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-three.png" class="product-img" alt="" routerlink="../tech-three">
            <h2 class="product-title">AUDIFONOS X AGUA</h2>
            <div class="product-table">
                <span class="price">$159.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-three"></i>
            </div>
        </div>
         <!--box 4-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-four.png" class="product-img" alt="" routerlink="../tech-four">
            <h2 class="product-title">BANDA BLUETOOTH</h2>
            <div class="product-table">
                <span class="price">69.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-four"></i>
            </div>
        </div>
         <!--box 5-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-five.png" class="product-img" alt="" routerlink="../tech-five">
            <h2 class="product-title">BOMBILLO PARLANTE</h2>
            <div class="product-table">
                <span class="price">$49.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-five"></i>
            </div>
        </div>
         <!--box 6-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-six.png" class="product-img" alt="" routerlink="../tech-six">
            <h2 class="product-title">DISPENSADOR DE JABON</h2>
            <div class="product-table">
                <span class="price">$79.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-six"></i>
            </div>
        </div>
         <!--box 7-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-seven.png" class="product-img" alt="" routerlink="../tech-seven">
            <h2 class="product-title">LAMPARA PROYECTORA</h2>
            <div class="product-table">
                <span class="price">$59.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-seven"></i>
            </div>
        </div>
         <!--box 8-->
         <div class="product-box">
            <img src="../../assets/img/tech-product-eich.png" class="product-img" alt=""  routerlink="../tech-eich">
            <h2 class="product-title">MASAJEADOR CERVICAL</h2>
            <div class="product-table">
                <span class="price">$119.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-tech-eich"></i>
            </div>
        </div>
    </div>
</section>

<app-shop-house class="no-ver"></app-shop-house>
