<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img src="../../../../assets/img/tech-product-eich.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Tecnologia | IsGreatShop</h5>
            <h3 class="product-title">Masajeador Cervical Cuello</h3>
            <hr class="product-space">
            <p class="product-description">
                Masajeador eléctrico multifuncional, masajeador para espalda, hombros, cuello, frotamiento con calor infrarrojo para coche y hogar.
                Alta eficiencia-Diseño humanizado de la estructura que golpean los rodillos, alivia la rigidez del cuello, elimina la fatiga constante, calma los músculos adoloridos.
                Amplia aplicación y portátil-Ideal para viajes por carretera, viajes, camping, uso en coche, oficina, hogar y más.
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$140.000</p>
                <p class="product-price-before" href="">$119.900</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/U7I2NSTwv1ABCDEuikvsq0u%C3%B1w1uycUcI9NST6d_2ABCDEu6dcUvIoNSTtl_zABCDEaaskfU9I7NST0llABCDEIfapaiuuvbu"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<app-cart></app-cart>
