<!----------------------------------------HEADER----------------------------------->

<header class="first-header">
    <!--Menu Sidebar-->
    <div class="open-sidebar">
        <i id="bar-sidebar" class="fa-solid fa-bars-staggered"></i>
    </div>
    <!--Logo-->
    <img class="logo" routerLink="" id="logo" src="assets/img/Logo.png" alt="Isgreatshop-Logo">
    <!--Nav-->
    <nav class="browser" id="first-nav">
        <ul>
            <li><a href=""routerLink="">INICIO</a></li>
            <li><a href="" routerLink="nosotros" >ACERCA DE</a></li>
                <div class="header-categories-1">
                    <li class="categories-list"><a href="">CATEGORIAS <i class="fa-solid fa-caret-right"></i></a></li>
                    <div class="header-categories-submenu">
                        <li><a routerLink="house" href="">HOGAR</a></li>
                        <li><a routerLink="tech" href="">TECNOLOGIA</a></li>
                        <li><a routerLink="pets" href="">MASCOTAS</a></li>
                        <li><a routerLink="beauty" href="">BELLEZA</a></li>
                        <li><a routerLink="fit" href="">FITNESS</a></li>
                    </div>
                </div>
            <li><a href="" routerLink="contact">CONTACTANOS</a></li>
            <li><a href="" routerLink="shop">TIENDA</a></li>
        </ul>
    </nav>
    <!--Carrito-->
    <i id="cart" class="fa-solid fa-cart-shopping cart-icon"></i>
</header>

<!----------------------------------------SIDEBAR----------------------------------->

<header class="sidebar-header">
    <!--Menu Cierre-->
    <div class="close-sidebar">
        <i id="close-sidebar-header" class="fa-solid fa-x"></i>
    </div>
    <!--Browser-->
    <nav>
        <ul class="sidebar-submenu-1">
            <li><a href=""routerLink="">INICIO</a></li>
            <li><a href=""routerLink="nosotros">ACERCA DE</a></li>
            <li>
            <p class="category-title"> CATEGORIAS <i class="fa-solid fa-caret-down"></i></p>
               <ul class="sidebar-submenu-2">
                    <li><a href="" routerLink="house">HOGAR</a></li>
                    <li><a href="" routerLink="tech">TECNOLOGIA</a></li>
                    <li><a href="" routerLink="pets">MASCOTAS</a></li>
                    <li><a href="" routerLink="beauty">BELLEZA</a></li>
                    <li><a href="" routerLink="fit">FITNESS</a></li>
               </ul> 
            </li>
            <li><a href="" routerLink="contact">CONTACTANOS</a></li>
            <li><a href="" routerLink="shop">TIENDA</a></li>
        </ul>
    </nav>
</header>
