<!----------------------------------FEATURED PRODUCTS----------------------------------->

  <!--shop-->
  <section class="shop container">
    <h2 class="section-title">PRODUCTOS PARA TU BELLEZA</h2>
    <!--Content-->
    <div class="shop-content">
        <!--box 1-->
        <div class="product-box">
            <img src="../../assets/img/beauty-product-one.png" class="product-img" alt="" [routerLink]="['../beauty-one']">
            <h2 class="product-title">CEPILLO SECADOR ONE-STEP</h2>
            <div class="product-table">
                <span class="price">$120.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-one"></i>
            </div>
        </div>
         <!--box 2-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-two.png" class="product-img" alt="" [routerLink]="['../beauty-two']">
            <h2 class="product-title">ACTIVADOR DE CRECIMIENTO CEJAS</h2>
            <div class="product-table">
                <span class="price">$79.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-two"></i>
            </div>
        </div>
         <!--box 3-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-three.png" class="product-img" alt="" [routerLink]="['../beauty-three']">
            <h2 class="product-title">ALISADOR DE PELO Y RIZADOR</h2>
            <div class="product-table">
                <span class="price">$119.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-three"></i>
            </div>
        </div>
         <!--box 4-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-four.png" class="product-img" alt="" [routerLink]="['../beauty-four']">
            <h2 class="product-title">DEPILADOR DE CEJAS ELECTRICO</h2>
            <div class="product-table">
                <span class="price">59.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-four"></i>
            </div>
        </div>
         <!--box 5-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-five.png" class="product-img" alt="" [routerLink]="['../beauty-five']">
            <h2 class="product-title">DEPILADORA SOFT-BODY</h2>
            <div class="product-table">
                <span class="price">$70.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-five"></i>
            </div>
        </div>
         <!--box 6-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-six.png" class="product-img" alt="" [routerLink]="['../beauty-six']">
            <h2 class="product-title">FAJA AJUSTABLE</h2>
            <div class="product-table">
                <span class="price">$79.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-six"></i>
            </div>
        </div>
         <!--box 7-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-seven.png" class="product-img" alt="" [routerLink]="['../beauty-seven']">
            <h2 class="product-title">HUMIFICADOR VAPORIZADOR</h2>
            <div class="product-table">
                <span class="price">$38.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-seven"></i>
            </div>
        </div>
         <!--box 8-->
         <div class="product-box">
            <img src="../../assets/img/beauty-product-eich.png" class="product-img" alt="" [routerLink]="['../beauty-eich']">
            <h2 class="product-title">MASAJEADOR DE PIES</h2>
            <div class="product-table">
                <span class="price">$49.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-beauty-eich"></i>
            </div>
        </div>
    </div>
</section>

<app-shop-house class="no-ver"></app-shop-house>
<app-shop-tech class="no-ver"></app-shop-tech>
<app-shop-pets class="no-ver"></app-shop-pets>