<footer class="footer">
    <div class="footer-container-one">
        <div class="footer-links">
            <div class="footer-links-box">
                <h4>INFORMACIÓN</h4>
                <ul>
                    <li><a href="" routerLink="">. Inicio</a></li>
                    <li><a href="" routerLink="nosotros">. Acerca de</a></li>
                    <li><a href="" routerLink="shop">. Tienda</a></li>
                    <li><a href="" routerLink="contact">. Contactanos</a></li>
                    <li><a href="" routerLink="terms">. Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="footer-links-box">
                <h4>POLITICAS</h4>
                <ul>
                    <li><a href="" routerLink="privacy">. Politica de privacidad</a></li>
                    <li><a href="" routerLink="shipping">. Politica de envio</a></li>
                    <li><a href="" routerLink="refund">. Politica de reembolso</a></li>
                    <li><a href="" routerLink="track">. Rastrea tu pedido</a></li>
                    <li><a href="" routerLink="payment">. Pago contra entrega</a></li>
                </ul>
            </div>
            <div class="footer-links-box">
                <h4>CATEGORIAS</h4>
                <ul>
                    <li><a href="" routerLink="house">. Hogar</a></li>
                    <li><a href="" routerLink="tech">. Tecnologia</a></li>
                    <li><a href="" routerLink="pets">. Mascotas</a></li>
                    <li><a href="" routerLink="beauty">. Belleza</a></li>
                    <li><a href="" routerLink="fit">. Fitness</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-about">
            <h4>ACERCA DE</h4>
            <h5>ISGREATSHOP es una pagina web en la cual usa la metodología E-COMMERCE
                para vender sus productos dentro de toda Colombia. </h5>
            <p>Nuestra tienda utiliza dos métodos de pago, el principal es agregar los productos deseados al carrito para luego dirigirse por via WhatsApp para
                acordar la compra con el respectivo vendedor. Nuestro segundo método comprar el producto individual via Triidy con los métodos de pago que esta 
                ofrezca. Te invitamos a pasar por nuestra tienda y encontrar tu producto deseado :)</p>
        </div>
    </div>
    <hr class="footer-space">
    <div class="footer-container-two">
        <div class="footer-copyright">
            <h3>Copyright © 2023 All Rights Reserved by ISGREATSHOP</h3>
        </div>
        <div class="footer-social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</footer>
