<app-cart></app-cart>
<!----------------------SHOP-BANNER---------------------------->
<section class="shop-banner">
    <h4>BELLEZA | IsGreatShop</h4>
    <h2>LUCE FASCINANTE GRACIAS A NOSOTROS</h2>
    <hr>
    <P>Elige el producto que deseas y llevatelo con IsGreatShop</P>
</section>

<!----------------------MIN-BANNER-SHOP---------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<app-shop-beauty></app-shop-beauty>
