<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img class="open-lightbox" src="../../../../assets/img/pets-product-five.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Mascotas | IsGreatShop</h5>
            <h3 class="product-title">Morral Para Mascota</h3>
            <hr class="product-space">
            <p class="product-description">
                Exclusivo morral para llevar a tu mascota a donde quieras de manera cómoda y segura.
                Elaborado en lona 100% impermeable, tela bandeada y forro interno lavable. Ideal para mascotas
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$105.900</p>
                <p class="product-price-before" href="">$89.900</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/UhIaNSTotvABCDE8jwtlr18zov896U6I4NST3%C3%B1_aABCDEudn4cUkIpNSTw1_6ABCDErr0oeU5IiNSTv11ABCDEISGREATSHOP"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<!--LIGHTBOX-->
<div class="product-lightbox">
    <div class="lightbox-container">
        <i class="fa-solid fa-x close-lightbox"></i>
        <img src="../../../../assets/img/pets-product-five.png" alt="">
    </div>
</div>


<app-cart></app-cart>
