<app-cart></app-cart>

<!------------------Contact------------------>

<article class="contact-container">
    <h4>HABLA CON NOSOTROS</h4>
    <h2>CONTACTANOS</h2>
    <hr>
    <p>Si quieres preguntarme algo personalmente estoy dispuesto a escucharte :)</p>
    <div class="contact-info">
        <div>
            <a><i class="fa-solid fa-phone"></i>+57 322 284 8625</a>
            <a><i class="fa-solid fa-envelope"></i>contacto@isgreatshop.com</a>
        </div>
        <div>
            <a href="https://www.facebook.com/Isgreatshop/"><i class="fa-brands fa-facebook-f"></i>Isgreatshop Colombia</a>
            <a href="https://www.instagram.com/isgreatshopcolombia/"><i class="fa-brands fa-whatsapp"></i>IsGreatShop</a>
            <a href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-instagram"></i>@isgreatshopColombia</a>
        </div>
    </div>
    <h3>Siempre estaremos disponibles para escucharte :)</h3>
</article>