<app-cart></app-cart>


<!-------------------------BANNER TRACK---------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>POLITICA / ISGREATSHOP </h3>
    <h2>RASTREA TU PEDIDO</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-TRACK------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION TRACK---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>RASTREA TU PEDIDO</h2>

        <hr>

        <P>Una vez que hayas realizado tu transaccion de compra, el comerciante
        te dara la posibilidad de que puedas rastrear tu pedido mediante tres 
        paginas web que son nuestros afiliados de entrega(rapidisimo, servientrega, envia)
        </P>
    </div>
</article>