<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img src="../../../../assets/img/fit-product-eich.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Fitness | IsGreatShop</h5>
            <h3 class="product-title">Estimulador Muscular Body gym 3 en 1</h3>
            <hr class="product-space">
            <p class="product-description">
                Aparato deportivo inalámbrico EMS Estimulador muscular, entrenador de músculos abdominales portátil, masajeador corporal para gimnasio y Fitness.
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">79.900</p>
                <p class="product-price-before" href="">$69.900</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/U7I2NSTwv1ABCDEuikvsq0u%C3%B1w1uycUcI9NST6d_2ABCDEu6ycUvIoNSTtl_zABCDEaaskfU9I7NST0llABCDEIfapaiuuvbu"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<app-cart></app-cart>
