<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img src="../../../../assets/img/beauty-product-two.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Belleza | IsGreatShop</h5>
            <h3 class="product-title">Activador de crecimiento para cejas y pestañas</h3>
            <hr class="product-space">
            <p class="product-description">
                Encantada Cejas y Pestañas Estimula crecimiento de cejas y pestañas recomendado especialmente para mujeres con pestañas cortas, pero también es altamente efectivo para rellenar vacíos pequeños o medios a lo largo de las pestañas superiores.
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$89.900</p>
                <p class="product-price-before" href="">$79.900</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/UhIaNSTotvABCDE8jwtlr18zov896U6I4NST3%C3%B1_aABCDEud963UkIpNSTw1_6ABCDErr0oeU5IiNSTv11ABCDEISGREATSHOP"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<app-cart></app-cart>
