<app-cart></app-cart>

<!-------------------------BANNER ABOUT---------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>Acerca De / ISGREATSHOP </h3>
    <h2>CONOCE TU MEJOR MARCA</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-BANNER------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION ABOUT---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>SOY JHONER GÓMEZ Y ESTO ES ISGREATSHOP</h2>

        <hr>

        <p>ISGREATSHOP es una tienda de electrodomésticos al hogar
        que tiene como objetivo hacer a nuestros clientes mas felices.</p>

        <p>Nuestra tienda fue hecha para aquellas personas que deseen
        tener el producto que deseen.</p>

        <p>¿Alguna vez haz querido comprar ese  producto interesante 
        pero las tiendas exageran mucho con sus precios y terminas sin
        tenerlo en tus manos? !!CON ISGREATSHOP SERA DISTINTO.</p>

        <p>Nosotros usamos nuestro método de negociación en cada producto
        para que te lo lleves con toda la seguridad.
        </p>

        <p>No solo eso, también damos descuentos totales dentro de todas
        nuestra categoría para que sepas que comprendemos tu bolsillo.</p>
    </div>
    <!--Information user-->
    <div class="about-user"></div>
</article>

<!-------------------------POLICY PRIVACY BTN--------------------->

<div class="invitation-privacy">
    <!--invitation-text-privacy-->
    <div class="invitation-text-privacy">
        <h4>¿TIENES AUN DUDAS SOBRE NOSOTROS?</h4>
        <p>Hecha una ojeada a nuestra politica de privacidad para que tus dudas desaparezcan.</p>
    </div>
    <!--Btn-privacy-->
    <a class="invitation-btn-privacy" routerLink="../privacy">Ver Politica</a>
</div>