<app-cart></app-cart>


<!-------------------------BANNER SEND---------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>POLITICA / ISGREATSHOP </h3>
    <h2>PAGO CONTRA ENTREGA</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-SEND------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION SEND---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>PAGO CONTRA ENTREGA</h2>

        <hr>

        <p>El método de pago contra entrega es la solución efectiva, práctica y segura
        con la que puedes realizar un pedido a través de nuestra tienda y pagarlo desde
        la comodidad de tu casa u oficina.
        </p>

        <p>Queremos brindarte seguridad y confianza al realizar tus compras en nuestra tienda,
        por ello este método de pago contra entrega es optimo para garantizar tu tranquilidad.
        Esta modalidad de Pago contra entrega solo permite hacer tu pago en efectivo, si requieres
        pagar con tarjeta débito o crédito debes informarnos con anticipación para enviarte un enlace de pago.</p>

    </div>
</article>