<app-cart></app-cart>
<!----------------------SHOP-BANNER---------------------------->
<section class="shop-banner">
    <h4>Tienda | IsGreatShop</h4>
    <h2>COMPRA TU PRODUCTO DESEADO DESDE TU HOGAR</h2>
    <hr>
    <P>Elige el producto que deseas y llevatelo con IsGreatShop</P>
</section>

<!----------------------MIN-BANNER-SHOP---------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!----------------------PRODUCT NUMBER ONE---------------------------->
<!--Product-shop-->
<article class="featured-product">
    <!--Product-shop container 1-->
    <div class="product-featured-text">
        <h3>¿Y NUESTRO PRODUCTO DE LA SEMANA ES...?</h3>
        <h4>Cactus Bailarin</h4>
        <p>El juguete bailará durante horas, trayendo alegría.
        Contiene mas de 120 canciones. Puede brillar, grabar,
        tiene movimiento y repetir la voz de una persona.</p>
    <!--Product-price--> 
        <div class="featured-product-price">
            <p  class="featured-product-price-now">$99.900</p>
            <p  class="featured-product-price-before">$109.900</p>
        </div>
    <!--Product-btn-->
        <div class="featured-product-btns">
            <a href="">Mas Informacion</a>
            <a href="">Comprar Ahora</a>
        </div>
    </div>
    <!--Product-Featured-img-->
    <div class="featured-product-img">
        <img src="../../../assets/img/cactus.png" alt="cactus bailarin">
    </div>
</article>

<!----------------------PRODUCTS HOME---------------------------->
<section class="shop-products-home">
    <p>Productos/Hogar | IsGreatShop</p>
    <h4>HOGAR</h4>
</section>

<app-shop-house></app-shop-house>

<!----------------------PRODUCTS TECH---------------------------->
<section class="shop-products-tech">
    <p>Productos/Tecnologia | IsGreatShop</p>
    <h4>TECNOLOGIA</h4>
</section>

<app-shop-tech></app-shop-tech>
<!----------------------PRODUCTS PETS---------------------------->
<section class="shop-products-pets">
    <p>Productos/Mascotas | IsGreatShop</p>
    <h4>MASCOTAS</h4>
</section>

<app-shop-pets></app-shop-pets>
<!----------------------PRODUCTS BEAUTY---------------------------->
<section class="shop-products-beauty">
    <p>Productos/belleza | IsGreatShop</p>
    <h4>BELLEZA</h4>
</section>

<app-shop-beauty></app-shop-beauty>
<!----------------------PRODUCTS FIT---------------------------->
<section class="shop-products-fit">
    <p>Productos/fitness | IsGreatShop</p>
    <h4>FITNESS</h4>
</section>

<app-shop-fit></app-shop-fit>