<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img src="../../../../assets/img/tech-product-five.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Tecnologia | IsGreatShop</h5>
            <h3 class="product-title">Bombillo Parlante Con Bluetooth Multicolores</h3>
            <hr class="product-space">
            <p class="product-description">
                Bombillo Led parlante Bluetooth, con este dispositivo podrás escuchar música vía bluetooth, apagar o encender la luz con el control remoto y cambiar entre los diversos colores de luz.
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$59.000</p>
                <p class="product-price-before" href="">$49.000</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/UgIjNSTk10ABCDExht1ralxdk0x3zUzIyNSTcn_jABCDEc66U0IkNST1r_dABCDEjjqvwU3I5NSTsrrABCDEIwjoj7bb0eb"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<app-cart></app-cart>
