<app-cart></app-cart>


<!-------------------------BANNER SEND---------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>POLITICA / ISGREATSHOP </h3>
    <h2>POLITICA DE ENVIO</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-SEND------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION SEND---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>POLITICA DE ENVIO</h2>

        <hr>

        <p>Nota: Debido a los problemas que está habiendo con el coronavirus,
        todos los envíos pueden retrasase por culpa de correos y empresas externas
        a nosotros, este retraso no será un motivo de causa mayor para anular
        pedidos una vez ya se han tramitado, sentimos las molestias y esperamos
        que se entienda la situación que se está viviendo no solo en Colombia si
        no en todo el mundo. Los pedidos están seguros y llegarán al cliente final.
        </p>

        <p>Siempre garantizamos la entrega de su pedido, pero las promociones y ofertas
        especiales pueden retrasarse debido a la gran demanda de nuestros productos.
        Una vez que el pedido ha sido verificado, se procesa dentro de 1 a 5 días y se
        envía a la dirección de entrega.</p>

        <p>Todos nuestros productos salen de nuestras instalaciones de  1 a 2 días después
        de realizar el pedido.</p>

        <p>En casos puntuales, por alta demanda (Black Friday, Black Monday, Navidades, etc…)
        o temas de logística, el envío puede tardar de 3 a 5 semanas. Teniendo un margen de 50
        días para que llegue el producto, en caso de no ser así podrás proceder al reembolso por
        pedido perdido/no enviado.</p>

        <p>Todos nuestros envíos están asegurados y tienen un número de seguimiento que puede
        facilitar la entrega de su pedido. Considere Si el cliente no pone la dirección correcta
        en el pedido y no nos notifica minutos después del pedido ( antes de que el envío y paquete se procese )
        y el paquete no puede ser entregado al estar la dirección incorrecta, no habrá opción a reembolso y
        un siguiente envío de dicho paquete irá a cargo del cliente y comprador.</p>
    </div>
</article>