<!----------------------------------FEATURED PRODUCTS----------------------------------->

  <!--shop-->
  <section class="shop container">
    <h2 class="section-title">PRODUCTOS PARA TUS MASCOTAS</h2>
    <!--Content-->
    <div class="shop-content">
        <!--box 1-->
        <div class="product-box">
            <img src="../../assets/img/pets-product-one.png" class="product-img" alt="" [routerLink]="['../pets-one']">
            <h2 class="product-title">CANGURO MORRAL</h2>
            <div class="product-table">
                <span class="price">$69.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-one"></i>
            </div>
        </div>
         <!--box 2-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-two.png" class="product-img" alt="" [routerLink]="['../pets-two']">
            <h2 class="product-title">CEPILLO SECADOR</h2>
            <div class="product-table">
                <span class="price">$119.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-two"></i>
            </div>
        </div>
         <!--box 3-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-three.png" class="product-img" alt="" [routerLink]="['../pets-three']">
            <h2 class="product-title">SHAMPOO PARA GATO</h2>
            <div class="product-table">
                <span class="price">$59.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-three"></i>
            </div>
        </div>
         <!--box 4-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-four.png" class="product-img" alt="" [routerLink]="['../pets-four']">
            <h2 class="product-title">SHAMPOO PARA PERRO</h2>
            <div class="product-table">
                <span class="price">59.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-four"></i>
            </div>
        </div>
         <!--box 5-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-five.png" class="product-img" alt="" [routerLink]="['../pets-five']">
            <h2 class="product-title">MORRAL PARA MASCOTA</h2>
            <div class="product-table">
                <span class="price">$49.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-five"></i>
            </div>
        </div>
         <!--box 6-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-six.png" class="product-img" alt="" [routerLink]="['../pets-six']">
            <h2 class="product-title">JUGUETE COMIDA PARA GATOS</h2>
            <div class="product-table">
                <span class="price">$79.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-six"></i>
            </div>
        </div>
         <!--box 7-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-seven.png" class="product-img" alt="" [routerLink]="['../pets-seven']">
            <h2 class="product-title">GUANTE DE SILICONA</h2>
            <div class="product-table">
                <span class="price">$59.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-seven"></i>
            </div>
        </div>
         <!--box 8-->
         <div class="product-box">
            <img src="../../assets/img/pets-product-eich.png" class="product-img" alt="" [routerLink]="['../pets-eich']">
            <h2 class="product-title">CINTA ANTI-RASGUÑOS</h2>
            <div class="product-table">
                <span class="price">$79.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-pets-eich"></i>
            </div>
        </div>
    </div>
</section>

<app-shop-house class="no-ver"></app-shop-house>
<app-shop-tech class="no-ver"></app-shop-tech>