<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img src="../../../../assets/img/almohadilla.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Hogar | IsGreatShop</h5>
            <h3 class="product-title">Almohada de viaje con masajeador</h3>
            <hr class="product-space">
            <p class="product-description">
                Espuma viscoelástica. La almohada está compuesta de espuma viscoelástica de baja resistencia,
                que se adapta perfectamente al contorno del cuello y los hombros. 
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$139.900</p>
                <p class="product-price-before" href="">$109.900</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href=""><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href=""><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>