<!----------------------------------------CART----------------------------------->
<!--Cart-->
<div class="cart">
    <h2 class="cart-title">TU CARRITO</h2>
    <!--content-->
   <div class="cart-content">

    <!-----------------HOUSE PRODUCTS-------------------->

    <!--Product-one-->
    <div class="cart-box cart-house-one">
        <img src="../../assets/img/almohadilla.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">ALMOHADILLA EXPRESS</div>
            <div class="cart-price">$109.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-two">
        <img src="../../assets/img/cactus.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CACTUS BAILARIN</div>
            <div class="cart-price">$99.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-three">
        <img src="../../assets/img/CUCHILLO2.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CUCHILLO ERGONÓMICO</div>
            <div class="cart-price">$49.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-four">
        <img src="../../assets/img/set-cocina.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BOSAS PARA ALIMENTOS</div>
            <div class="cart-price">$59.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-five">
        <img src="../../assets/img/cojin-caliente-house.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">COJIN ALMOHADA</div>
            <div class="cart-price">$89.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-six">
        <img src="../../assets/img/aro-luz-home.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">ARO DE LUZ SELFIE</div>
            <div class="cart-price">$60.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-seven">
        <img src="../../assets/img/expendedor.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">EXPENDEDOR DE AGUA</div>
            <div class="cart-price">$49.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-one-->
     <div class="cart-box cart-house-eich">
        <img src="../../assets/img/protector-sofa.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">PROTECTOR SOFA</div>
            <div class="cart-price">$69.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>

    <!-----------------TECH PRODUCTS-------------------->
    
    <!--Product-one-->
    <div class="cart-box cart-tech-one">
        <img src="../../assets/img/tech-product-one.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">AFEITADORA PERFILADORA</div>
            <div class="cart-price">$79.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-two-->
     <div class="cart-box cart-tech-two">
        <img src="../../assets/img/tech-product-two.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">AUDIFONOS LANGSDOM</div>
            <div class="cart-price">$89.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-three-->
     <div class="cart-box cart-tech-three">
        <img src="../../assets/img/tech-product-three.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">AUDIFONOS X AGUA</div>
            <div class="cart-price">$159.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-four-->
     <div class="cart-box cart-tech-four">
        <img src="../../assets/img/tech-product-four.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BANDA BLUETOOTH</div>
            <div class="cart-price">$69.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-five-->
     <div class="cart-box cart-tech-five">
        <img src="../../assets/img/tech-product-five.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BOMBILLO PARLANTE</div>
            <div class="cart-price">$49.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-six-->
     <div class="cart-box cart-tech-six">
        <img src="../../assets/img/tech-product-six.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">DISPENSADOR DE JABON</div>
            <div class="cart-price">$79.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-seven-->
     <div class="cart-box cart-tech-seven">
        <img src="../../assets/img/tech-product-seven.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">LAMPARA PROYECTORA</div>
            <div class="cart-price">$59.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-eich-->
     <div class="cart-box cart-tech-eich">
        <img src="../../assets/img/tech-product-eich.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">MASAJEADOR CERVICAL</div>
            <div class="cart-price">$199.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>

     <!-----------------PETS PRODUCTS-------------------->
    
    <!--Product-one-->
    <div class="cart-box cart-pets-one">
        <img src="../../assets/img/pets-product-one.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CANGURO MORRAL</div>
            <div class="cart-price">$69.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-two-->
     <div class="cart-box cart-pets-two">
        <img src="../../assets/img/pets-product-two.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CEPILLO CECADOR</div>
            <div class="cart-price">$119.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-three-->
     <div class="cart-box cart-pets-three">
        <img src="../../assets/img/pets-product-three.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">SHAMPOO PARA GATOS</div>
            <div class="cart-price">$59.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-four-->
     <div class="cart-box cart-pets-four">
        <img src="../../assets/img/pets-product-four.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">SHAMPOO PARA PERRO</div>
            <div class="cart-price">$59.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-five-->
     <div class="cart-box cart-pets-five">
        <img src="../../assets/img/pets-product-five.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">MORRAL PARA MASCOTA</div>
            <div class="cart-price">$49.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-six-->
     <div class="cart-box cart-pets-six">
        <img src="../../assets/img/pets-product-six.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">JUGUETE COMIDA PARA GATOS</div>
            <div class="cart-price">$79.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-seven-->
     <div class="cart-box cart-pets-seven">
        <img src="../../assets/img/pets-product-seven.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">GUANTES DE SILICONA</div>
            <div class="cart-price">$59.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-eich-->
     <div class="cart-box cart-pets-eich">
        <img src="../../assets/img/pets-product-eich.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CINTA ANTI-RASGUÑOS</div>
            <div class="cart-price">$79.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>

         <!-----------------BEAUTY PRODUCTS-------------------->
    
    <!--Product-one-->
    <div class="cart-box cart-beauty-one">
        <img src="../../assets/img/beauty-product-one.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CEPILLO SECADOR ONE-STEP</div>
            <div class="cart-price">$120.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-two-->
     <div class="cart-box cart-beauty-two">
        <img src="../../assets/img/beauty-product-two.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">ACTIVADOR DE CRECIMINETO CEJAS</div>
            <div class="cart-price">$79.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-three-->
     <div class="cart-box cart-beauty-three">
        <img src="../../assets/img/beauty-product-three.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">ALISADOR DE PELO Y RIZADOR</div>
            <div class="cart-price">$119.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-four-->
     <div class="cart-box cart-beauty-four">
        <img src="../../assets/img/beauty-product-four.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">DEPILADOR DE CEJAS ELECTRICO</div>
            <div class="cart-price">$59.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-five-->
     <div class="cart-box cart-beauty-five">
        <img src="../../assets/img/beauty-product-five.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">DEPILADORA SOFT-BODY</div>
            <div class="cart-price">$70.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-six-->
     <div class="cart-box cart-beauty-six">
        <img src="../../assets/img/beauty-product-six.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">FAJA AJUSTABLE</div>
            <div class="cart-price">$79.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-seven-->
     <div class="cart-box cart-beauty-seven">
        <img src="../../assets/img/beauty-product-seven.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">HUMIFICADOR VAPORIZADOR</div>
            <div class="cart-price">$38.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-eich-->
     <div class="cart-box cart-beauty-eich">
        <img src="../../assets/img/beauty-product-eich.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">MASAJEADOR DE PIES</div>
            <div class="cart-price">$49.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>


    <!-----------------FIT PRODUCTS-------------------->
    
    <!--Product-one-->
    <div class="cart-box cart-fit-one">
        <img src="../../assets/img/fit-product-one.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BANDAS ELASTICAS DE TELA</div>
            <div class="cart-price">$69.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-two-->
     <div class="cart-box cart-fit-two">
        <img src="../../assets/img/fit-product-two.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BANDAS ELASTICAS KIT</div>
            <div class="cart-price">$99.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-three-->
     <div class="cart-box cart-fit-three">
        <img src="../../assets/img/fit-product-three.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BANDAS SUSPENCION TRX</div>
            <div class="cart-price">$99.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-four-->
     <div class="cart-box cart-fit-four">
        <img src="../../assets/img/fit-product-four.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BANDAS TUBULARES</div>
            <div class="cart-price">$89.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-five-->
     <div class="cart-box cart-fit-five">
        <img src="../../assets/img/fit-product-five.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">BARRAS DE PILATES</div>
            <div class="cart-price">$120.000</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-six-->
     <div class="cart-box cart-fit-six">
        <img src="../../assets/img/fit-product-six.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CINTURILLA TERMO REDUCTORA</div>
            <div class="cart-price">$69.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-seven-->
     <div class="cart-box cart-fit-seven">
        <img src="../../assets/img/fit-product-seven.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">CINTURON FAJA LUMBAR</div>
            <div class="cart-price">$69.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>
     <!--Product-eich-->
     <div class="cart-box cart-fit-eich">
        <img src="../../assets/img/fit-product-eich.png" alt="" class="cart-img">
        <div class="detail-box">
            <div class="cart-product-title">ESTIMULADOR MUSCULAR</div>
            <div class="cart-price">$69.900</div>
            <input type="number" value="0" class="cart-quantity">
        </div>
        <!--Remove Cart-->
        <i class="fa-solid fa-trash cart-remove"></i>
    </div>










   </div>
   <!--total-->
   <div class="total">
        <div class="total-title">Total: </div>
        <div class="total-price">$0</div>
   </div>
   <a href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/" type="button" class="btn-buy">Comprar Ahora</a>
   <!--Cart Close-->
   <i class="fa-solid fa-x" id="close-cart"></i>
</div>

