<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img class="open-lightbox" src="../../../../assets/img/fit-product-four.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Fitness | IsGreatShop</h5>
            <h3 class="product-title">Bandas Tubulares</h3>
            <hr class="product-space">
            <p class="product-description">
                Set de bandas de resistencia 5 bandas de diferente tensión , 2 mangos para las manos, 2 correas para los pies, 1 soporte para la puerta, 1 bolsa de tela para guardar el kit, reemplaza ejercicios de mancuernas y de algunas máquinas de gimnasio.
                Presiones distintas
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$109.000</p>
                <p class="product-price-before" href="">$89.000</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/UhIaNSTotvABCDE8jwtlr18zov896U6I4NST3%C3%B1_aABCDEuu%C3%B1z6UkIpNSTw1_6ABCDErr0oeU5IiNSTv11ABCDEISGREATSHOP"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<!--LIGHTBOX-->
<div class="product-lightbox">
    <div class="lightbox-container">
        <i class="fa-solid fa-x close-lightbox"></i>
        <img src="../../../../assets/img/fit-product-four.png" alt="">
    </div>
</div>

<app-cart></app-cart>
