<app-cart></app-cart>


<!-------------------------BANNER REFUND--------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>POLITICA / ISGREATSHOP </h3>
    <h2>POLITICA DE REEMBOLSO</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-REFUND------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION REFUND---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>POLITICA DE ENVIO</h2>

        <hr>

        <p>Nuestra política dura 02 días (Calendario). Si han pasado 02 días (Calendario)
        desde su compra, desafortunadamente no podemos ofrecerle un reembolso o cambio.
        </p>

        <p>Para ser elegible a una devolución, el producto debe estar sin usar y en las mismas
        condiciones en que lo recibió. También debe estar en el embalaje original.</p>

        <p>Todos nuestros productos salen de nuestras instalaciones de  1 a 2 días después
        de realizar el pedido.</p>

        <p>o se acepta devolución por reclamo de «no me gusto» o sus variaciones.
        Varios tipos de productos están exentos de ser devueltos. Los productos
        perecederos como alimentos, flores, periódicos o revistas no pueden devolverse.
        Tampoco aceptamos productos que sean productos íntimos o sanitarios, materiales peligrosos
        o líquidos o gases inflamables. Artículos adicionales no retornables: -Tarjetas de regalo,
        -Productos de software descargables, -Algunos artículos de salud y cuidado personal
        </p>

        <p>Todos nuestros envíos están asegurados y tienen un número de seguimiento que puede
        facilitar la entrega de su pedido. Considere Si el cliente no pone la dirección correcta
        en el pedido y no nos notifica minutos después del pedido ( antes de que el envío y paquete se procese )
        y el paquete no puede ser entregado al estar la dirección incorrecta, no habrá opción a reembolso y
        un siguiente envío de dicho paquete irá a cargo del cliente y comprador.</p>
    </div>
</article>