<app-cart></app-cart>


<!-------------------------BANNER TERMS---------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>POLITICA / ISGREATSHOP </h3>
    <h2>TERMINOS DE SERVICIO</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-TERMS------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION TERMS---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>TERMINOS DE SERVICIO</h2>

        <hr>

        <p>Al visitar nuestro sitio y/o comprar algo de nosotros,
        participas en nuestro “Servicio” y aceptas los siguientes
        términos y condiciones (“Términos de Servicio”, “Términos”),
        incluidos todos los términos y condiciones adicionales y 
        las políticas a las que se hace referencia en el presente
        documento y/o disponible a través de hipervínculos. Estas
        Condiciones de Servicio se aplican a todos los usuarios del
        sitio, incluyendo si limitación a usuarios que sean navegadores,
        proveedores, clientes, comerciantes, y/o colaboradores de contenido.
        </p>

        <p>Este sitio web es operado por ISGREATSHOP únicamente en
        COLOMBIA . Los envíos solo se realizarán en el territorio
        nacional colombiano en donde las transportadoras afiliadas
        tengan total cobertura. En todo el sitio, los términos
        “nosotros”, “nos” y “nuestro” se refieren a ISGREATSHOP
        ofrece este sitio web, incluyendo toda la información,
        herramientas y servicios disponibles para ti en este sitio,
        el usuario, está condicionado a la aceptación de todos los
        términos, condiciones, políticas y notificaciones aquí
        establecidos.</p>

        <p>Al utilizar este sitio, declaras que tienes al menos la mayoría
        de edad en tu estado o provincia de residencia, y que nos has dado tu
        consentimiento para permitir que cualquiera de tus dependientes menores
        use este sitio. No puedes usar nuestros productos con ningún propósito
        ilegal o no autorizado tampoco puedes, en el uso del Servicio, violar 
        cualquier ley en tu jurisdicción (incluyendo pero no limitado a las leyes
        de derecho de autor). No debes transmitir gusanos, virus o cualquier código
        de naturaleza destructiva. El incumplimiento o violación de cualquiera de estos
        Términos darán lugar al cese inmediato de tus Servicios.</p>

        <p>Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona,
        por cualquier motivo y en cualquier momento. Entiendes que tu contenido (sin incluir la
        información de tu tarjeta de crédito), puede ser transferida sin encriptar e involucrar
        (a) transmisiones a través de varias redes; y (b) cambios para ajustarse o adaptarse a los
        requisitos técnicos de conexión de redes o dispositivos. La información de tarjetas de crédito
        está siempre encriptada durante la transferencia a través de las redes. Estás de acuerdo con no
        reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, uso del
        Servicio, o acceso al Servicio o cualquier contacto en el sitio web a través del cual se presta el
        servicio, sin el expreso permiso por escrito de nuestra parte. Los títulos utilizados en este acuerdo se
        incluyen solo por conveniencia y no limita o afecta a estos términos.</p>
    </div>
</article>