<app-cart></app-cart>


<!-------------------------BANNER PRIVACY---------------------------->

<!--Banner About-->
<section class="banner-about">
    <h3>POLITICA / ISGREATSHOP </h3>
    <h2>POLITICA DE PRIVACIDAD</h2>
    <i class="fa-solid fa-caret-down see-up"></i>
</section>

<!-------------------------MIN-PRYVACY------------------------------->
<!--banner-small-->
<div class="min-banner">
    <!--banner-small-TEXT 1-->
    <div class="min-text">
       <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <div class="min-text-description">
            <h3>CONOCENOS</h3>
            <p>Compra con total confianza con nosotros</p>
        </div>
    </div>
    <!--banner-small-TEXT 2-->
    <div class="min-text">
        <i id="clic-icon" class="fa-solid fa-arrow-pointer"></i>
        <div class="min-text-description">
            <h3>DESCUBRE</h3>
            <p>Encuentra todo lo que ofrecemos para ti y tu bienestar.</p>
        </div>
    </div>
    <!--banner-small-TEXT 3-->
    <div class="min-text">
        <i class="fa-solid fa-bag-shopping"></i>
        <div class="min-text-description">
            <h3>COMPRA</h3>
            <p>Llévate lo que tanto haz buscado!!</p>
        </div>
    </div>
</div>

<!-------------------------INFORMATION PRIVACY---------------------->
<!--Information-->
<article id="info" class="about-information">
    <!--information text-->
    <div class="about-text">
        <h2>POLITICA DE PRIVACIDAD</h2>

        <hr>

        <p>Cuando compra algo en nuestra tienda, como parte del proceso de compra
        y venta, recopilamos la información personal que nos proporciona, como su
        nombre, dirección y dirección de correo electrónico.Cuando navega por
        nuestra tienda, también recibimos automáticamente la dirección de
        protocolo de Internet (IP) de su computadora para brindarnos información
        que nos ayude a conocer su navegador y sistema operativo.</p>

        <p>Cuando nos proporciona información personal para completar una
        transacción, verificar su tarjeta de crédito, realizar un pedido,
        organizar una entrega o devolver una compra, implicamos que usted
        consiente que la recopilemos y la utilicemos solo por ese motivo 
        específico. Si solicitamos su información personal por un motivo
        secundario, como el marketing, le pediremos directamente su consentimiento
        expreso o le brindaremos la oportunidad de decir que no.</p>

        <p>Si después de que usted se inscriba, cambia de opinión, puede retirar su
        consentimiento para que nos comuniquemos con usted, para la recopilación,
         el uso o la divulgación continuada de su información, en cualquier
        momento, contactándonos a contacto@isgreatshop.com</p>

    </div>
    <div class="about-user"></div>
</article>