<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img class="open-lightbox" src="../../../../assets/img/beauty-product-five.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Belleza | IsGreatShop</h5>
            <h3 class="product-title">Depiladora Soft Body</h3>
            <hr class="product-space">
            <p class="product-description">
                Es la solución corporal total para la depilación instantánea y sin dolor. Con nuestra tecnología sensa-guard, es perfecta para sus áreas más sensibles, axilas, bikini, tobillos y rodillas. Soft Body tiene una cabeza chapada . No se necesita jabón, agua o cremas. También es recargable para que pueda usarlo en cualquier lugar en cualquier momento.
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$89.900</p>
                <p class="product-price-before" href="">$70.000</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/U7I2NSTwv1ABCDEuikvsq0u%C3%B1w1uycUcI9NST6d_2ABCDE8z6dUvIoNSTtl_zABCDEaaskfU9I7NST0llABCDEIfapaiuuvbu"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<!--LIGHTBOX-->
<div class="product-lightbox">
    <div class="lightbox-container">
        <i class="fa-solid fa-x close-lightbox"></i>
        <img src="../../../../assets/img/beauty-product-five.png" alt="">
    </div>
</div>

<app-cart></app-cart>
