<!----------------------------------FEATURED PRODUCTS----------------------------------->

  <!--shop-->
  <section class="shop container">
    <h2 class="section-title">PRODUCTOS PARA PONERNOS EN FORMA</h2>
    <!--Content-->
    <div class="shop-content">
        <!--box 1-->
        <div class="product-box">
            <img src="../../assets/img/fit-product-one.png" class="product-img" alt="" routerlink="../fit-one">
            <h2 class="product-title">BANDAS ELASTICAS DE TELA</h2>
            <div class="product-table">
                <span class="price">$69.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-one"></i>
            </div>
        </div>
         <!--box 2-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-two.png" class="product-img" alt="" routerlink="../fit-two">
            <h2 class="product-title">BANDAS ELASTICAS KIT</h2>
            <div class="product-table">
                <span class="price">$99.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-two"></i>
            </div>
        </div>
         <!--box 3-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-three.png" class="product-img" alt="" routerlink="../fit-three">
            <h2 class="product-title">BANDAS SUSPENSIÓN TRX</h2>
            <div class="product-table">
                <span class="price">$99.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-three"></i>
            </div>
        </div>
         <!--box 4-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-four.png" class="product-img" alt="" routerlink="../fit-four">
            <h2 class="product-title">BANDAS TUBULARES</h2>
            <div class="product-table">
                <span class="price">89.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-four"></i>
            </div>
        </div>
         <!--box 5-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-five.png" class="product-img" alt="" routerlink="../fit-five">
            <h2 class="product-title">BARRAS DE PILATES</h2>
            <div class="product-table">
                <span class="price">$120.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-five"></i>
            </div>
        </div>
         <!--box 6-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-six.png" class="product-img" alt="" routerlink="../fit-six">
            <h2 class="product-title">CINTURILLA TERMO REDUCTORA</h2>
            <div class="product-table">
                <span class="price">$69.000</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-six"></i>
            </div>
        </div>
         <!--box 7-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-seven.png" class="product-img" alt="" routerlink="../fit-seven">
            <h2 class="product-title">CINTURON FAJA LUMBAR</h2>
            <div class="product-table">
                <span class="price">$69.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-seven"></i>
            </div>
        </div>
         <!--box 8-->
         <div class="product-box">
            <img src="../../assets/img/fit-product-eich.png" class="product-img" alt="" routerlink="../fit-eich">
            <h2 class="product-title">ESTIMULADOR MUSCULAR</h2>
            <div class="product-table">
                <span class="price">$69.900</span>
                <i class="fa-solid fa-cart-shopping add-cart add-fit-eich"></i>
            </div>
        </div>
    </div>
</section>

<app-shop-house class="no-ver"></app-shop-house>
<app-shop-tech class="no-ver"></app-shop-tech>
<app-shop-pets class="no-ver"></app-shop-pets>
<app-shop-beauty class="no-ver"></app-shop-beauty>