<app-cart></app-cart>

<!----------------------------------------MAIN-BANNER----------------------------------->
<section class="home">
    <!--Home-Content-->
    <div class="home-content">
        <h3 class="home-tiquet">Compra en grande || Crece en grande</h3>
        <h1 class="home-title">Audífonos inalámbricos resistentes al agua</h1>
            <div class="home-prices">
                <h4 class="price-now">$159.000</h4>
                <h4 class="price-before">$169.900</h4>
            </div>
        <p class="home-product-description">
            Te permiten recibir/rechazar la llamada, ajustar el volumen,
            cambiar la pista y activar Alexa, Siri o Google orant con el botón multifunción (pulsar).
        </p>
            <div class="home-products-btn">
                <a href="https://triidy.com/checkout/UhIaNSTotvABCDE8jwtlr18zov896U6I4NST3%C3%B1_aABCDEu383%C3%B1UkIpNSTw1_6ABCDErr0oeU5IiNSTv11ABCDEISGREATSHOP" id="buy-now" class="home-product-buy-now">Comprar Ahora ></a>
                <a href="" id="home-product-info" routerLink="tech-two" class="home-product-info">Mas Informacion</a>
            </div>
    </div>
    <!--Home-Product Img-->
    <div class="home-product-img">
        <img src="assets/img/product-example.png" alt="Audifonos inalambricos">
    </div>
</section>

<!-------------------------------------CALL-TO-ACTION----------------------------------->
<article class="action-one">
    <div class="action-info">
        <i id="action-icon" class="fa-solid fa-magnifying-glass"></i>
        <div class="action-info-text">
            <h2>BUSCA TU PRODUCTO</h2>
            <p>En ISGREATSHOP tenemos un gran catálogos de productos
            que te pueden gustar</p>
        </div>
    </div>
    <div class="action-info">
        <div class="action-info-text">
            <h2>ELIGE COMO COMPRARLO</h2>
            <p>ISGREATSHOP te ofrecerá la oportunidad de contactarte con el vendedor
            o comprarlo directamente </p>
        </div>
        <i id="action-icon" class="fa-solid fa-arrow-pointer"></i>
    </div>
</article>

<!-------------------------------------CATEGORIES/LINKS----------------------------------->
<section class="categories-home">
    <h2>Encuentra tu producto por <br> nuestras categorias</h2>
    <hr>
    <div class="categories-links">
        <!--House-->
        <div class="categories-box">
            <div class="categories-box-img house">
            </div>
            <div class="categories-box-text">
                <i class="fa-solid fa-house"></i>
                <h3>HOME</h3> 
                <ul>
                    <li>Precios Fantasticos</li>
                    <li>Precios en Oferta</li>
                    <li>Garantia Asegurada</li>
                </ul>
                <a href=""  routerLink="house" class="categories-box-btn house">Ver Productos</a>
            </div>
        </div>
        <!--Technology-->
        <div class="categories-box">
            <div class="categories-box-img tech"></div>
            <div class="categories-box-text">
                <i class="fa-solid fa-laptop"></i>
                <h3>TECNOLOGIA</h3> 
                <ul>
                    <li>Tecnologia avanzada</li>
                    <li>Precios en Oferta</li>
                    <li>Garantia Asegurada</li>
                </ul>
                <a href="" routerLink="tech" class="categories-box-btn tech">Ver Productos</a>
            </div>
        </div>
        <!--Pets-->
        <div class="categories-box">
            <div class="categories-box-img pets"></div>
            <div class="categories-box-text">
                <i class="fa-solid fa-house"></i>
                <h3>MASCOTAS</h3> 
                <ul>
                    <li>Juguetes Geniales</li>
                    <li>Precios en Oferta</li>
                    <li>Garantia Asegurada</li>
                </ul>
                <a href=""  routerLink="pets" class="categories-box-btn pets">Ver Productos</a>
            </div>
        </div>
        <!--Beauty-->
        <div class="categories-box">
            <div class="categories-box-img beauty"></div>
            <div class="categories-box-text">
                <i class="fa-solid fa-venus"></i>
                <h3>BELLEZA</h3> 
                <ul>
                    <li>Cosmetica Increible</li>
                    <li>Precios en Oferta</li>
                    <li>Garantia Asegurada</li>
                </ul>
                <a href=""  routerLink="beauty" class="categories-box-btn beauty">Ver Productos</a>
            </div>
        </div>
        <!--Fitness-->
        <div class="categories-box">
            <div class="categories-box-img fit"></div>
            <div class="categories-box-text">
                <i class="fa-solid fa-dumbbell"></i>
                <h3>FITNESS</h3> 
                <ul>
                    <li>Precios Economicos</li>
                    <li>Precios en Oferta</li>
                    <li>Garantia Asegurada</li>
                </ul>
                <a href=""  routerLink="fit" class="categories-box-btn fit">Ver Productos</a>
            </div>
        </div>
    </div>
</section>

<!----------------------------------INVITATION-TO-SHOP----------------------------------->
<article class="action-two">
    <div class="action-two-info">
        <h2>¿Te Gustaria Ver Mas Productos?</h2>
        <p>ISGREATSHOP se encarga de mantener los mejores productos al alcance de un clic</p>
    </div>
    <a href="" routerLink="shop" class="action-two-btn">VER MAS PRODUCTOS</a>
</article>

<!-------------------------------------FORM COMMENTS-------------------------------------->

 <!-- Contact -->
<section class="form-home">
    <div class="form-container">
        <div class="form-text">
            <h3>DANOS TUS COMENTARIOS</h3>
            <form class="form" action="">
                <div>
                    <input type="text" name="username" class="username" id="username" placeholder="Tu Nombre">
                    <p class="form-error-name-none">No puede dejar este campo vacio</p>
                    <p class="form-error-name">Su nombre no debe poseer mas de 12 letras</p>
                </div>
                <div>
                    <input type="email" name="email" class="email" id="email" placeholder="Correo Electronico">
                </div>
                <div>
                    <textarea name="message" placeholder="Cuentanos tus Comentarios" class="message" id="message"></textarea>
                    <p class="form-error-message-none">No puede dejar este campo vacio</p>
                </div>
                <input type="submit" value="Enviar Comentarios">
            </form>
        </div>
        <div class="form-img"></div>
    </div>
</section>
