<section class="product-container">
    <div class="product-section">
        <div class="product-img">
            <img src="../../../../assets/img/fit-product-seven.png" alt="">
        </div>
        <div class="product-information">
            <h5 class="product-tiquet">Fitness | IsGreatShop</h5>
            <h3 class="product-title">Cinturon Faja Lumbar</h3>
            <hr class="product-space">
            <p class="product-description">
                Este práctico Cinturón Lumbar  Brinda apoyo para la espalda, a la vez que hace terapia de frío o calor gracias al gel que trae en su interior, especialmente diseñado para que se puede congelar o calentar.
            </p>
            <div class="product-price">
                <p class="product-price-now" href="">$89.000</p>
                <p class="product-price-before" href="">$69.000</p>
            </div>
            <div class="product-btn">
                <a class="product-btn-whats" href="https://api.whatsapp.com/send?phone=573222848625&text=Hola,%20necesito%20asesor%C3%ADa...%20https://isgreatshop.com/"><i class="fa-brands fa-whatsapp"></i> Hablar con comerciante</a>
                <a class="product-btn-triidy" href="https://triidy.com/checkout/UhIaNSTotvABCDE8jwtlr18zov896U6I4NST3%C3%B1_aABCDEunnz4UkIpNSTw1_6ABCDErr0oeU5IiNSTv11ABCDEISGREATSHOP"><i class="fa-solid fa-bag-shopping"></i> Comprar directamente</a>
            </div>
            <div class="track-product">
                <p>PAGO CONTRA ENTREGA <i class="fa-solid fa-money-bill-wave"></i></p>
                <p>OFERTA EXCLUSIVA <i class="fa-solid fa-tag"></i></p>
            </div>
        </div>
    </div>
</section>

<app-cart></app-cart>
